# This .gitignore file should be placed at the root of your Unity project directory
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

# Pastas temporárias do Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Arquivos gerados automaticamente pelo Unity
sysinfo.txt
*.stackdump

# Arquivos de cache e configurações do Visual Studio/JetBrains Rider
.vs/
/.gradle/
/[Aa]ssets/Plugins/Editor/JetBrains*
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Arquivos gerados pelo Unity em meta
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Builds e pacotes gerados
*.apk
*.aab
*.app
*.unitypackage

# Endereçáveis e AssetBundles gerados
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Arquivo gerado pelo Crashlytics
crashlytics-build.properties

# Arquivos do sistema operacional (Windows e MacOS)
Thumbs.db
Desktop.ini
._*
.DS_Store

# Arquivos de configuração e cache do VS Code
.vscode/
*.swp
*.lock
*.log
*.pid
*.seed
*.bak
*.pyc
*.pyo
*.class
*.idea/
